<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{base::layout(~{::section})}">

<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<section>
		<!-- Start slider -->
		<div id="carouselExampleInterval" class="carousel slide"
			data-bs-ride="carousel">
			<div class="carousel-inner">
				<div class="carousel-item active" data-bs-interval="10000">
					<img src="img/ecom1.png" class="d-block w-100" alt="..."
						height="350px">
				</div>
				<div class="carousel-item" data-bs-interval="2000">
					<img src="img/ecom2.jpg" class="d-block w-100" alt="..."
						height="350px">
				</div>
				<div class="carousel-item">
					<img src="img/ecom3.jpg" class="d-block w-100" alt="..."
						height="350px">
				</div>
			</div>
			<button class="carousel-control-prev" type="button"
				data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Previous</span>
			</button>
			<button class="carousel-control-next" type="button"
				data-bs-target="#carouselExampleInterval" data-bs-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Next</span>
			</button>
		</div>
		<!-- End slider -->
		<!-- Start category -->

		<div class="container">
			<div class="row">
				<p class="text-center fs-4">Category</p>
				<div class="col-md-2">
					<div class="card rounded-square">
						<div class="card-body text-center">
							<img src="img/category_img/appli.png" width="50%" height="120px">
							<p>Electronics</p>
						</div>
					</div>
				</div>
				<div class="col-md-2">
					<div class="card rounded-square">
						<div class="card-body text-center">
							<img src="img/category_img/beuty.png" width="50%" height="120px">
							<p>Beauty</p>
						</div>
					</div>
				</div>
				<div class="col-md-2">
					<div class="card rounded-square">
						<div class="card-body text-center">
							<img src="img/category_img/book.jpg" width="50%" height="120px">
							<p>Books</p>
						</div>
					</div>
				</div>
				<div class="col-md-2">
					<div class="card rounded-square">
						<div class="card-body text-center">
							<img src="img/category_img/groccery.jpg" width="50%"
								height="120px">
							<p>Grocery</p>
						</div>
					</div>
				</div>
				<div class="col-md-2">
					<div class="card rounded-square">
						<div class="card-body text-center">
							<img src="img/category_img/pant.png" width="50%" height="120px">
							<p>Clothes</p>
						</div>
					</div>
				</div>
				<div class="col-md-2">
					<div class="card rounded-square">
						<div class="card-body text-center">
							<img src="img/category_img/mobile.png" width="50%" height="120px">
							<p>Mobile</p>
						</div>
					</div>
				</div>
			</div>
		</div>


		<!-- End category -->
		<!-- Start Latest Product model -->

		<div class="container-fluid bg-light p-3">
			<div class="row">
				<p class="text-center fs-4">Latest Product</p>

				<div class="col-md-3">
					<div class="card shadow-sm p-3 mb-5 bg-body-tertiary rounded">
						<div class="card-body text-center">
							<img alt="..." src="img/product_img/laptop.jpg" class=""
								width="150px" height="150px">
							<p class="text-center">HP Laptop</p>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="card shadow-sm p-3 mb-5 bg-body-tertiary rounded">
						<div class="card-body text-center">
							<img alt="..." src="img/product_img/laptop.jpg" class=""
								width="150px" height="150px">
							<p class="text-center">HP Laptop</p>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="card shadow-sm p-3 mb-5 bg-body-tertiary rounded">
						<div class="card-body text-center">
							<img alt="..." src="img/product_img/laptop.jpg" class=""
								width="150px" height="150px">
							<p class="text-center">HP Laptop</p>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="card shadow-sm p-3 mb-5 bg-body-tertiary rounded">
						<div class="card-body text-center">
							<img alt="..." src="img/product_img/laptop.jpg" class=""
								width="150px" height="150px">
							<p class="text-center">HP Laptop</p>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="card shadow-sm p-3 mb-5 bg-body-tertiary rounded">
						<div class="card-body text-center">
							<img alt="..." src="img/product_img/laptop.jpg" class=""
								width="150px" height="150px">
							<p class="text-center">HP Laptop</p>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="card shadow-sm p-3 mb-5 bg-body-tertiary rounded">
						<div class="card-body text-center">
							<img alt="..." src="img/product_img/laptop.jpg" class=""
								width="150px" height="150px">
							<p class="text-center">HP Laptop</p>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="card shadow-sm p-3 mb-5 bg-body-tertiary rounded">
						<div class="card-body text-center">
							<img alt="..." src="img/product_img/laptop.jpg" class=""
								width="150px" height="150px">
							<p class="text-center">HP Laptop</p>
						</div>
					</div>
				</div>
				
			</div>

		</div>


		<!-- End Latest Product model -->

	</section>





</body>
</html>